
.img-fixed-size {
    width: 100px; /* Установите желаемую ширину */
    height: 100px; /* Установите желаемую высоту */
    object-fit: cover; /* Этот стиль сохранит соотношение сторон и обрежет изображение, чтобы оно полностью заполнило указанный размер */
}

.card-title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .detail-card {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .selected-detail {
    background-color: #007bff; /* Цвет фона для выделенной детали */
    color: #ffffff; /* Цвет текста для выделенной детали */
  }

/* Новый стиль для разделительной линии */
.separator-container {
  display: flex; /* Используем флексбокс */
}

.separator {
  border-right: 1px solid #ccc;
  flex: 1; /* Занимает все доступное пространство */
  padding-right: 5px; /* Уменьшенный отступ справа */
}

/* Отступ между левой и правой колонкой */
.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}

.details-list {
  display: flex;
  flex-direction: column;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px; /* Отступ между деталями */
}

.detail-item span {
  flex: 1;
}

.product-name {
  font-weight: normal; /* или используйте font-weight: normal!important; если требуется переопределение стилей */
  /* Другие стили по вашему усмотрению */
}

body {
  width: 99.8%;
  margin: 0;
}

.progress-bar {
  background-color: #007bff; /* Цвет полосы прогресса */
}